@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body {
  background: #111;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 30;
  font-family: 'Varela Round', sans-serif;
  text-shadow: 1px 2px #000;
}


h2 {
  color: #fff;
  font-size: 20;
  font-family: 'Varela Round', sans-serif;
  text-shadow: 1px 1px #000;
}

h3 {
  color: #fff;
  font-size: 15;
  font-family: 'Varela Round', sans-serif;
  text-shadow: 1px 1px #000;
}

.container {
  background-color: #444;
}

.container h2 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container h3 {
  width: 95%;
  text-align: right;
}

.header {
  background-color: #555;
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 15%;
}
